/* Custom styling
------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
html, body {
    margin: 0;
    padding: 0;
}
main {
    padding-top: 3em;
    min-height: 100vh;
    height: auto;
}

.navbar {
    background: #3066BE;
}

.intro {
    height: 100vh;
    background: url("../assets/images/579d43736e4b312e3f44be0eacbf638c.jpg") no-repeat fixed center;
    background-size: cover;
}
    .intro h1 {
        text-align: center;
        padding-top: calc(100vh / 2.5);
        color: #042325;
        font-weight: bold;
    }

.section {
    padding: 3em 0;
    text-align: center;
}

.primary-color-bg {
    background: #6D9DC5;
    color: white;
}

.page-footer {
    background: #042325;
    color: white;
}

.pad-bottom-3 {
    padding: 0 0 1em 0;
}

.selected {
    font-weight: bold;
    color: white;
}