@{
    ViewData["Title"] = "FAQ";
}
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="pad-bottom-3">Frequently Asked Question (FAQ)</h2>
            </div>
            <div class="col-12">
                <h4>Waar is Smoothboard Stylers gevestigd?</h4>
                <p>Smoothboard stylers is gevestigd op Ceru Colorado, Aruba.</p>
            </div>
            <div class="col-12">
                <h4>Kan ik zelf ook een eigen design aanleveren?</h4>
                <p>Ja dat kan, mits digitaal aangeleverd.</p>
            </div>
            <div class="col-12">
                <h4>Hoe lang duurt het 'customizen' van een surfboard?</h4>
                <p>Na ontvangst van het board, hebben we twee dagen nodig om het te bewerken. In drukke perioden kan dit oplopen tot max. 1 week.</p>
            </div>
            <div class="col-12">
                <h4>Wat kost het 'customizen' van een board?</h4>
                <p>Dat hangt van veel factoren af, prijzen varieren van $250 tot wel $1000.</p>
            </div>
        </div>
    </div>
</div>
