@model SubscriberViewModel
@{
    ViewData["Title"] = "Home Page";
}

<!--Main Layout-->
<main>
    
    <div class="intro">
        <h1>Spicin’ up your board!</h1>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Over ons</h2>
                    <p>
                        Smoothboard Stylers is een bedrijf van Sean Jensen. Sean is naast een ervaren surfer ook een uitsteken artiest
                        die zijn creatieven ideeën vertaald naar fantastische ontwerpen voor surfboards. Van idee tot uitvoering, Sean doet alles zelf.
                        Naast het 'painten' van surfboards verkoopt Smoothboard Stylers sinds kort ook surfboards.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="section primary-color-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="pad-bottom-3">Ik wil de nieuwsbrief ontvangen!</h2>
                    <form asp-action="AddSubscriber" asp-controller="Subscriber">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label asp-for="Firstname"></label>
                                <input asp-for="Firstname" class="form-control"/>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Lastname"></label>
                                <input asp-for="Lastname" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="EmailAddress"></label>
                            <input asp-for="EmailAddress" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label asp-for="Sex"></label>
                            <select asp-for="Sex" class="form-control" asp-items="Html.GetEnumSelectList<Sex>()"></select>
                        </div>
                        <button type="submit" class="btn btn-primary">Ja, ik wil de gratis nieuwsbrief ontvangen</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</main>
