@using Microsoft.AspNetCore.Identity
@model IEnumerable<UserModel>

@foreach (var user in Model)
{
    <p>@user.UserId</p>
    <p>@user.Role</p>
    <p>@user.Password</p>
}

<p>Text</p>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
