@model IEnumerable<SmoothBoardModel>

<div class="section">
    <div class="container">
        <div class="row">
            @if (Model != null && Model.Any())
            {
                @foreach (var smoothBoard in Model)
                {
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <img src="~/uploads/@smoothBoard.ImageUrl"/>
                        <p>@smoothBoard.Model - $@smoothBoard.Price</p>
                        <p>@smoothBoard.Description</p>
                        <button type="button" class="btn btn-primary open-modal" data-toggle="modal" data-target="#formModal" data-smoothboardmodel="@smoothBoard.Model">
                            Meer informatie
                        </button>
                    </div>
                }
            }
            else
            {
                <h1>Geen smoothboards op voorraad op het moment!</h1>
            }

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <form asp-action="MoreInformation">
              <div class="modal-body">

                  <input type="hidden" id="smooth-board-id" name="ModelName" />
                  <input name="PhoneNumber" />
                  <input name="Name" />
              </div>
          <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Verzenden</button>
          </div>
          </form>
    </div>
  </div>
</div>
